@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");
:root {
  --main-blue: #1b5f93;
  --white-clr: rgb(255, 255, 255);
  --hover-clr: #2563eb;
  --little-dark-gray: #0e324e;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Poppins", sans-serif;
}
section {
  height: 100vh;
}

/* container-------------------------- */
.container {
  display: grid;
  width: 100vw;
  max-height: 100vh;
  grid-template-rows: repeat(3, minmax(max-content, 1fr));
}
/* first page, cover------------------- */
.cover {
  background-color: white;
  display: grid;
  grid-template-columns: repeat(24, 1fr);
  grid-template-rows: repeat(24, 1fr);
  overflow: hidden;
}
/* cover logo------------------------- */
.cover .logo {
  grid-column: 1/-1;
  grid-row: 1/-1;
  pointer-events: none;
}
.cover .logo img {
  max-width: 100%;
  aspect-ratio: 1;
  opacity: 0.1;
}
/* cover, Samith Seu------------------- */
.cover .my_name {
  grid-column: 3/-3;
  grid-row: 11/12;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cover h1 {
  font-size: 8vw;
  text-align: center;
  cursor: pointer;
  text-transform: capitalize;
  color: var(--main-blue);
  filter: drop-shadow(0.04em 0.05em 0.01em rgba(0, 0, 0, 0.15));
  padding: 0.1em 0;
  transition: transform 250ms ease-in-out;
}
/* cover all social links------------------ */
.cover .social {
  grid-column: 4/-4;
  grid-row: 12/13;
  display: grid;
  height: 100%;
  align-self: center;
  grid-template-columns: repeat(6, 1fr);
  column-gap: 1.5em;
}
.cover .card {
  width: 100%;
  height: 100%;
}
.cover .card a {
  display: grid;
  place-items: center;
  text-decoration: none;
  width: inherit;
  height: inherit;
  padding: 0.3em 0.5em;
  color: var(--white-clr);
  font-size: 2rem;
  background-color: var(--main-blue);
  border-radius: 0.4em;
  transition: 150ms ease-in-out;
}
.cover .card i {
  font-size: 2.2rem;
  color: var(--white-clr);
}

/* hover effect on all social links------------ */
.cover .card a:hover {
  background-color: var(--little-dark-gray);
  filter: drop-shadow(0.15em 0.2em 0.1em rgba(0, 0, 0, 0.39));
}
.cover h1:hover {
  transform: scale(1.02);
}
/* media query--------------------------------- */
@media screen and (min-width: 920px) {
  .cover .logo {
    grid-column: 1/-1;
    grid-row: 1/-1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .cover .logo img {
    max-width: 50%;
    aspect-ratio: 1;
    opacity: 0.05;
  }
}
@media screen and (max-width: 920px) {
  .cover .social {
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5em;
  }
  .cover .card a {
    font-size: 1.5rem;
    background-color: var(--main-blue);
    border-radius: 0.5em;
  }
}
@media screen and (max-width: 320px) {
  .cover .social {
    grid-template-columns: repeat(1, 1fr);
    gap: 1.5em;
  }
  .cover .card a {
    font-size: 1.2rem;
    background-color: var(--main-blue);
    border-radius: 0.5em;
  }
}
@media screen and (max-width: 414px) and (min-width: 200px) {
  .cover h1 {
    font-size: 7vw;
    text-align: center;
    cursor: pointer;
    color: var(--main-blue);
    filter: drop-shadow(0.04em 0.05em 0.01em rgba(0, 0, 0, 0.15));
    padding: 0.1em 0;
    transition: transform 250ms ease-in-out;
  }
}
/* first page end, cover end------------------------- */

/* Animation */
.my_name {
  animation-duration: 1s;
}
.card {
  animation-duration: 1.2s;
}
